<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Componentes</title>
</head>
<body>
  <main>
    <h1>Componentes con Vue</h1>
    
      <mis-tareas :listado="tareas">
        <template slot-scope="datos">
          <li>{{ datos.titulo }}</li>
          
        </template>
      </mis-tareas>

      <mis-tareas :listado="tareas">
        <template slot-scope="datos">
          <li><h1>{{ datos.titulo }}</h1></li>
          
        </template>
      </mis-tareas>

    <pre>{{ $data }}</pre>
  </main>

  <template id="mis-tareas-template">
    <ul>
      <slot v-for="tarea in listado" :titulo="tarea.titulo"></slot>
      <!-- <li v-for="tarea in listado">{{ tarea.titulo | toTitle }}</li> -->
    </ul>
  </template>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 

  <script>
Vue.filter('toTitle', text => {
  text = text.split("")
  text[0] = text[0].toUpperCase()
  text = text.join("")
  return text
})

Vue.component('mis-tareas', {
  props: ['listado'],
  template: "#mis-tareas-template"
})

const vm = new Vue({
  el: "main",
  data: {
    tareas: [
      {titulo: "salir a correr"},
      {titulo: "limpiar la casa"},
      {titulo: "aprender Vue.js"},
      {titulo: "ir al gimnasio"},
      {titulo: "leer cada dia"}
    ]
  }
})

  </script>
</body>
</html>