<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <title>Data Binding</title>
</head>
<body>
  <main>
    <h1 id="title" v-show="activo">{{ mensaje }}</h1>
    <input id="input" type="text" v-model="mensaje" >

    <h2 v-if="edad < 18">No puedes pasar</h2>
    <h2 v-else-if="edad > 200">Eres inmortal</h2>
    <h2 v-else="edad < 18">Puedes pasar</h2>
    <template v-if="activo">
      <h3>Bienvenido</h3>
      <ul>
        <li><a href="#">enlace</a></li>
        <li><a href="#">enlace</a></li>
        <li><a href="#">enlace</a></li>
      </ul>
    </template>
    <h1>Días laborales</h1>
    <ul v-for="dia in laborales">
      <li>{{dia}}</li>
    </ul>
    <pre>{{ $data }}</pre>
  </main>
  <script>
   
  const vm = new Vue({
    el: "main",
    data: {
      activo: true,
      mensaje: "Hola mundo",
      edad: 15,
      laborales: ["lunes", "martes", "miercoles", "jueves", "viernes"]
    }

  });
  </script>
</body>
</html>